<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sentiment score</title>
</head>
<body>
    {%if sentiment == 1 %}
        <h1>Sentiment for your comment is "Sexist/Recist"</h1>
        {%elif sentiment==0 %}
        <h1>Sentiment for your comment is "Good"</h1>
    {%endif%}

    <a href="{{url_for('index')}}">click here to go back</a>
    
    
</body>
</html>